# Framework properties
spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/influ
    username: influ
    password: influ
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka

# Application properties
spring.cloud.loadbalancer.enabled: true