.idea
/auth/target
/auth-service/target
/auth-service-api/target
/gateway-service/target
/eureka-service/target
/campaign-service/target
/campaign-service-api/target
/user-service-api/target
/user-service/target