.idea
/auth/target
/auth-service/target
/auth-service-api/target
/gateway-application/target
/eureka/target
/testService/target
/campaign-service/target
/campaign-service-api/target
/user-service-api/target