services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json
      - ./pgadmin/.pgpass:/pgadmin4/.pgpass
    depends_on:
      - postgres
    networks:
      - backend

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: influ
      POSTGRES_USER: influ
      POSTGRES_PASSWORD: influ
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: "redis:8.4.0"  # official Redis image, specific stable tag
    container_name: "redis"
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--save", "900", "1", "--appendonly", "yes" ]
    # This enables RDB snapshots and AOF persistence

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.1
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HTTP_RELATIVE_PATH: /auth
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/influ
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
    ports:
      - "8100:8080"
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    depends_on:
      - postgres
      - pgadmin
    networks:
      - backend

  eureka:
    image: eureka-service:latest
    container_name: eureka
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - backend

  gateway:
    image: gateway-service:latest
    container_name: gateway
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - backend

  user:
    image: user-service:latest
    container_name: user
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - postgres
    networks:
      - backend

  campaign:
    image: campaign-service:latest
    container_name: campaign
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - postgres
    networks:
      - backend

  chat:
    image: chat-service:latest
    container_name: chat
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - backend

volumes:
  pgdata:
  pgadmin_data:
  redis-data:

networks:
  backend:
    driver: bridge