version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: influ
      POSTGRES_USER: influ
      POSTGRES_PASSWORD: influ
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  eureka:
    image: mrtn/influ/eureka
    container_name: eureka
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - backend

  gateway:
    image: mrtn/influ/gateway-service
    container_name: gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - auth
    networks:
      - backend

  auth:
    image: mrtn/influ/auth-service
    container_name: auth
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - user
    networks:
      - backend

  user:
    image: mrtn/influ/user-service
    container_name: user
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - postgres
    networks:
      - backend

  campaign:
    image: mrtn/influ/campaign-service
    container_name: campaign
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - eureka
      - postgres
    networks:
      - backend

volumes:
  pgdata:

networks:
  backend:
    driver: bridge