server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - DELETE
              - PUT
            allowedHeaders: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka

auth.service.verify.endpoint: http://auth-service/api/v1/auth/verify

# Request response logging to debug
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter: INFO