server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - DELETE
              - PUT
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
  security:
    oauth2:
      resourceserver:
        jwt:
          # TODO change if frontend starts in container, bc issuer will be different when called from inside the docker-compose network
          issuer-uri: http://localhost:8100/auth/realms/influ-realm
          jwk-set-uri: http://keycloak:8080/auth/realms/influ-realm/protocol/openid-connect/certs

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka

# Request response logging to debug
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter: INFO