openapi: 3.1.0
info:
  title: Campaign Service API
  description: API for campaign service
  version: 1.0.0

# minden campaign | 1 bizonyos kampány | user kampányai | kampány csinálás | pics csinálás | user picsjei
# kampány törlés, | pics törlés

paths:
  /api/v1/campaigns:
    get:
      summary: Get all campaigns
      operationId: getAllCampaigns
      tags:
        - campaign
      responses:
        '200':
          description: All the campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllCampaignsResponse'
        '400':
          description: Request validation error
        '500':
          description: Server error
    post:
      summary: Create campaigns
      operationId: createCampaign
      tags:
        - campaign
      parameters:
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '201':
          description: Campaign is created
        '400':
          description: Request validation error
        '500':
          description: Server error

  /api/v1/campaigns/{id}:
    get:
      summary: Get a campaign
      operationId: getCampaign
      tags:
        - campaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
        '400':
          description: Request validation error
        '500':
          description: Server error
    delete:
      summary: Delete a campaign by ID
      operationId: deleteCampaign
      tags:
        - campaign
      parameters:
        - name: id
          in: path
          required: true
          description: Id of campaign
          schema:
            type: integer
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      responses:
        '204':
          description: Campaign deleted successfully
        '404':
          description: Campaign not found
        '500':
          description: Server error

  /api/v1/campaigns/user:
    get:
      summary: Get all campaigns for user
      operationId: getAllCampaignsForUser
      tags:
        - campaign
      parameters:
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      responses:
        '200':
          description: All the campaigns for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllCampaignsForUserResponse'
        '400':
          description: Request validation error
        '500':
          description: Server error

  /api/v1/campaigns/pitches:
    post:
      summary: Create pitch
      operationId: createPitch
      tags:
        - pitch
      parameters:
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePitchRequest'
      responses:
        '201':
          description: Pitch is created
        '400':
          description: Request validation error
        '500':
          description: Server error

  /api/v1/campaigns/pitches/user:
    get:
      summary: Get pitches for user
      operationId: getPitchesForUser
      tags:
        - pitch
      parameters:
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      responses:
        '200':
          description: List of pitches for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPitchesForUserResponse'
        '400':
          description: Request validation error
        '500':
          description: Server error

#  /api/v1/campaigns/{id}/state:
#    put:
#      summary: Update campaign state
#      operationId: updateCampaignState
#      tags:
#        - campaign
#      parameters:
#        - name: id
#          in: path
#          required: true
#          description: Campaign ID
#          schema:
#            type: integer
#        - name: X-User-Id
#          in: header
#          required: true
#          description: Id of user provided by the gateway
#          schema:
#            type: string
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              $ref: '#/components/schemas/UpdateCampaignStateRequest'
#      responses:
#        '200':
#          description: Campaign state updated
#        '400':
#          description: Request validation error
#        '404':
#          description: Campaign not found
#        '500':
#          description: Server error

  /api/v1/campaigns/pitches/{id}/state:
    put:
      summary: Update pitch state
      operationId: updatePitchState
      tags:
        - pitch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePitchStateRequest'
      responses:
        '200':
          description: Pitch state updated
        '400':
          description: Request validation error
        '500':
          description: Server error

  /api/v1/campaigns/pitches/{id}:
    get:
      summary: Get pitch
      operationId: getPitch
      tags:
        - pitch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      responses:
        '200':
          description: Pitch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPitchResponse'
        '400':
          description: Request validation error
        '500':
          description: Server error

    delete:
      summary: Delete pitch by id
      operationId: deletePitch
      tags:
        - pitch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: X-User-Id
          in: header
          required: true
          description: Id of user provided by the gateway
          schema:
            type: string
      responses:
        '204':
          description: Pitch deleted successfully
        '404':
          description: Pitch not found
        '500':
          description: Server error

components:
  schemas:
    Pitch:
      type: object
      required:
        - id
        - ownerId
        - title
        - campaignId
        - pitchState
      properties:
        id:
          type: integer
        campaignId:
          type: integer
        ownerId:
          type: string
        title:
          type: string
        text:
          type: string
        pitchState:
          type: string
          enum: [ PENDING, SELECTED, ACCEPTED, DONE, REJECTED, ABORTED ]

    Campaign:
      type: object
      required:
        - id
        - ownerId
        - title
        - campaignType
        - campaignState
      properties:
        id:
          type: integer
        ownerId:
          type: string
        title:
          type: string
        description:
          type: string
        contentGuideline:
          type: string
        campaignType:
          type: string
          enum: [ PRODUCT-FOR-POST, PAID-POST, AFFILIATE ]
        fee:
          type: integer
        campaignState:
          type: string
          enum: [ PENDING, PITCH-SELECTED, PITCH-ACCEPTED, DONE, FAILED, ABORTED ]
        pitchList:
          type: array
          items:
            $ref: '#/components/schemas/Pitch'

    GetAllCampaignsResponse:
      type: object
      required:
        - campaignList
      properties:
        campaignList:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'

    GetAllCampaignsForUserResponse:
      type: object
      required:
        - campaignList
      properties:
        campaignList:
          type: array
          items:
            $ref: '#/components/schemas/Campaign'

    GetCampaignResponse:
      type: object
      required:
        - campaign
      properties:
        campaign:
          $ref: '#/components/schemas/Campaign'

    CreatePitchRequest:
      type: object
      required:
        - campaignId
        - title
      properties:
        title:
          type: string
        campaignId:
          type: integer
        text:
          type: string

    UpdatePitchStateRequest:
      type: object
      required:
        - pitchState
      properties:
        pitchState:
          type: string
          enum: [ PENDING, SELECTED, ACCEPTED, DONE, REJECTED, ABORTED ]

#    UpdateCampaignStateRequest:
#      type: object
#      required:
#        - campaignState
#      properties:
#        campaignState:
#          type: string
#          enum: [ PENDING, PITCH-SELECTED, PITCH-ACCEPTED, DONE, FAILED ]

    CreateCampaignRequest:
      type: object
      required:
        - title
        - campaignType
      properties:
        title:
          type: string
        description:
          type: string
        contentGuideline:
          type: string
        campaignType:
          type: string
          enum: [ PRODUCT-FOR-POST, PAID-POST, AFFILIATE ]
        fee:
          type: integer

    GetPitchesForUserResponse:
      type: object
      required:
        - pitchList
      properties:
        pitchList:
          type: array
          items:
            $ref: '#/components/schemas/Pitch'

    GetPitchResponse:
      type: object
      required:
        - pitchList
      properties:
        pitch:
          $ref: '#/components/schemas/Pitch'