server:
  port: 8085

spring:
  application:
    name: chat-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,beans

logging:
  level:
    com:
      netflix:
        discovery: OFF
eureka:
  client:
    enabled: false